footer{
    background-color: $footer-background;
    color: #fff;
    margin: auto;
    padding: 30px 25px;
    h3{
        font-family: 'Shrikhand', sans-serif;
        font-weight: normal;
        padding-bottom: 30px;
    }
    ul{
        li{
            padding-bottom: 10px;
            line-height: 1.2em;
            i{
                padding-right: 10px;
            }
        }
    }
}