header{
    .logo{
        display: flex;
        padding: 20px 0 10px;
        overflow: hidden;
        &__title{
            margin: auto;
        }
        &__icon{
            position: absolute;
            @include flex-basic;
            padding-left: 30px;
            font-size: 2em;
            color: $text-alternative;
            &--index{
                display: none;
            }
        }
    }
}