header{
    width: 100%;
    .logo{
        display: flex;
        padding: 20px 0 10px;
        &__title{
            margin: auto;
        }
        &__icon{
            position: absolute;
            display: flex;
            align-items: center;
            padding-left: 30px;
            font-size: 2em;
            color: $text-alternative;
            &--index{
                display: none;
            }
        }
    }
}