header{
    width: 100%;
    > .logo{
        box-shadow: inset #c8c8d1 0px -3px 3px 0px;
        padding: 30px 0 15px;
        text-align: center;
        > img{
            width: 45%;        
        }
    }
}