.btn {
    > a{
        display: flex;
        color: white;
        padding: 1em 2.5em;
        font-size: 1.1em;
        text-align: center;
        background: $btn-background;
        width: min-content;
        white-space: nowrap;
        margin: auto;
        border-radius: 30px;
        box-shadow: rgb(149 157 165 / 40%) 0px 8px 24px;
        cursor: pointer;
        &:hover{
            @include btn-hover;
        }
    }
    &--main{
        background: $background;
        padding: 60px;
    }
}

.like-checkbox{
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: xx-large;
    background: inherit;
    .fancy-checkbox{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 1;
        > i{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        input{
            opacity: 0;
            width: 30px;
            height: 30px;
            z-index: 1;
            cursor: pointer;  
            &:checked ~ .fancy-checkbox--unchecked{
                transition-duration: .5s;
                opacity: 0;
            }
            &:checked ~ .fancy-checkbox--checked{
                transition-duration: 1s;
                opacity: 1;
            }
        }
        &--checked{
            opacity: 0;
            transition-duration: 0.5s;
            background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));/*définition du background*/
            -webkit-background-clip: text;/*fixation du bgd sur les texte*/
            -webkit-text-fill-color: transparent;/*mise en transparence du texte*/
        }
    }            
}
.menu-checkbox{
    position: absolute;
    right: 0;
    bottom: 50px;
}
/*----transition couleurs : http://jsfiddle.net/gn57dkez/---------------*/