/*---------------------bouton gnral------------------*/
.btn {
    > a{
        display: flex;
        color: $color-neutral;
        padding: 1em 2.5em;
        font-size: 1.1em;
        text-align: center;
        background: $btn-background;
        width: min-content;
        white-space: nowrap;
        margin: auto;
        border-radius: 30px;
        box-shadow: rgb(149 157 165 / 40%) 0px 8px 24px;
        cursor: pointer;
        &:hover{
            @include btn-hover;
        }
    }
    &--main{
        background: $background;
        padding: 60px;
    }
}

/*---------------------checkbox icone coeur----------------------*/
.like-checkbox{
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: xx-large;
    background: inherit;
    .fancy-checkbox{
        display: flex;
        > i{
            position: absolute;
        }
        input{
            opacity: 0;
            width: 30px;
            height: 30px;
            z-index: 1;
            cursor: cell;  
            &:checked ~ .fancy-checkbox--unchecked{
                transition-duration: .5s;
                opacity: 0;
            }
            &:checked ~ .fancy-checkbox--checked{
                transition-duration: 1s;
                opacity: 1;
            }
        }
        &--checked{
            opacity: 0;
            transition-duration: 0.5s;
            background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));/*définition du background*/
            -webkit-background-clip: text;/*fixation du bgd sur les texte*/
            -webkit-text-fill-color: transparent;/*mise en transparence du texte*/
        }
    }            
}
.menu-checkbox{
    right: -10px;
    bottom: 50px;
}

/*---------------------checkbox plats------------------------*/
.menu-composants__choice input{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    &:checked ~ .menu-compo__content .menu-compo__content--icone{
        margin-right: 0;
        transition: $trans-primary;
    }            
    &:checked ~ .menu-compo__content i{
        margin-right: 0;
        transition: $trans-primary;
        transform: rotate(360deg);
    }
}