.intro{
    &__image{
        height: 250px;
        overflow: hidden;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    } 
}

.menu{
    padding: 20px;
    background-color: $background;
    position: relative;
    top: -50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    .menu-title{
        display: flex;
        background-color: $background;
        position: relative;
        padding-top: 20px;
    }
    .menu-composants{
        padding-bottom: 20px;   
        &__title{
            > div{
                width: 50px;
                border-bottom: $color-tertiary 3px solid;
                margin-bottom: 20px;
                margin-top: 8px;
            }
        }
        &__choice{
            margin: auto;
            margin-bottom: 15px;
            max-width: 500px;
            animation: menu__item 1s ease-in-out both;
            &--1 {
                animation-delay: 1s;
            }
            &--2 {
                animation-delay: 1.25s;
            }
            &--3 {
                animation-delay: 1.5s;
            }
            .menu-compo__content{
                box-shadow: $shadow-secondary;
                background: $color-neutral;
                border-radius: 15px;
                display: flex;
                min-width: 300px;
                overflow: hidden;
                &--txt {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    padding: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    .text, .text > *{
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                &--icone {
                    width: 70px;
                    background: $color-tertiary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: -70px;
                    transition: $trans-primary;
                    & > i {
                        color: $color-tertiary;
                        padding: 4px;
                        border-radius: 50%;
                        background: white;
                        cursor: pointer;
                        transition: $trans-primary;
                    }
                }
            }
            /*------&__input cf ./components/_buttons ligne 68-----*/
        }
    }
}    
@keyframes menu__item {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    } 
} 