.intro{
    max-height: 300px;
    &__image{
        height: 250px;
        @include image;
        img{
            @include img;
        }
    }
    @media all and (min-width: 992px){
        max-height: 450px;
        &__image{
            height: 400px;
        }
    } 
}

.menu{
    padding: 20px;
    background: $background;
    position: relative;
    top: -50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    .menu-title{
        display: flex;
        position: relative;
        padding-top: 20px;
    }
/*--------cf ./components/buttons/like-checkbox ligne 27--------*/    
    .menu-composants{
        padding-bottom: 20px;  
        &__title{
            animation: menu__item 1s ease-in-out both;
            > div{
                width: 50px;
                border-bottom: $color-tertiary 3px solid;
                @include margin-underline;
            }
        }
        &__choice{
            margin: auto;
            margin-bottom: 15px;
            max-width: 500px;
            animation: menu__item .5s ease-out both;
            &--1 {
                animation-delay: .5s;
            }
            &--2 {
                animation-delay: .75s;
            }
            &--3 {
                animation-delay: 1s;
            }
            .menu-compo__content{
                box-shadow: $shadow-secondary;
                background: $color-neutral;
                border-radius: 15px;
                display: flex;
                overflow: hidden;
                &--txt {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    padding: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    .text, .text > *{
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                &--icone {
                    width: 70px;
                    background: $color-tertiary;
                    @include flex-full;
                    margin-right: -70px;
                    transition: $trans-primary;
                    & > i {
                        color: $color-tertiary;
                        padding: 4px;
                        border-radius: 50%;
                        background: $color-neutral;
                        cursor: pointer;
                        transition: $trans-primary;
                    }
                }
                /*cf .menu-composants__choice input : components/buttons ligne 70*/
            }
        }
        @media all and (min-width: 768px){
            &__title{
                text-align: center;
                & > div{
                    margin: auto;
                    @include margin-underline;
                }
            }
        }
    }
    /*------&.btn cf ./components/_buttons ligne 64-----*/
}    
@keyframes menu__item {
    0% {
        transform: translateY(25%);
        opacity: 0;
    } 
}
@media all and (min-width: 992px){
    .menu{
        &--full-width{
            @include flex-row;
            margin: 50px 0;
        }
        .menu-title h2 {
            margin: auto;
        }
        .menu-checkbox{
            right: 30%;
            bottom: 20px;
        }
        .menu-composants__choice{
            width: 400px;
        } 
    }
}  