.intro{
    max-height: 300px;
    &__image{
        height: 250px;
        @include image;
        img{
            @include img;
        }
    }
    @media all and (min-width: 992px){
        max-height: 450px;
        &__image{
            height: 400px;
        }
    } 
}

.menu{
    padding: 20px;
    background: $background;
    position: relative;
    top: -50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    .menu-title{
        display: flex;
        position: relative;
        padding-top: 20px;
    }
/*--------cf ./components/buttons/like-checkbox ligne 27--------*/    
    .menu-composants{
        padding-bottom: 20px;  
        &__title{
            > div{
                width: 50px;
                border-bottom: $color-tertiary 3px solid;
                @include margin-underline;
            }
        }
        &__choice{
            margin: auto;
            margin-bottom: 15px;
            max-width: 500px;
            animation: menu__item 1s ease-in-out both;
            &--1 {
                animation-delay: 1s;
            }
            &--2 {
                animation-delay: 1.25s;
            }
            &--3 {
                animation-delay: 1.5s;
            }
            .menu-compo__content{
                box-shadow: $shadow-secondary;
                background: $color-neutral;
                border-radius: 15px;
                display: flex;
                overflow: hidden;
                &--txt {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    padding: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    .text, .text > *{
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                &--icone {
                    width: 70px;
                    background: $color-tertiary;
                    @include flex-full;
                    margin-right: -70px;
                    transition: $trans-primary;
                    & > i {
                        color: $color-tertiary;
                        padding: 4px;
                        border-radius: 50%;
                        background: $color-neutral;
                        cursor: pointer;
                        transition: $trans-primary;
                    }
                }
            }
            /*------&__input cf ./components/_buttons ligne 68-----*/
        }
        @media all and (min-width: 768px){
            &__title{
                text-align: center;
                & > div{
                    margin: auto;
                    @include margin-underline;
                }
            }
        }
    }
}    
@keyframes menu__item {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    } 
}
@media all and (min-width: 992px){
.menu{
    .menu-title h2 {
        margin: auto;
    }
    .menu-compo__content--txt h4{
        padding-left: 100px;
    }
    .menu-checkbox{
        right: 30%;
        bottom: 20px;
    }
    .menu-composants{
        height: 380px;
        &--primary{
            background: center no-repeat url("../../images/banners/menu-banner__primary.png");
            & .underline{
                border-bottom: $color-primary 3px solid;
            }
        }
        &--secondary{
            background: center no-repeat url("../../images/banners/menu-banner__secondary.png");
            & .underline{
                border-bottom: $color-secondary 3px solid;
            }
        }
        &--tertiary{
            background: center no-repeat url("../../images/banners/menu-banner__tertiary.png");
        }
        & > div{
            margin-bottom: 30px;
        }
    } 
}
}  