.location{
    display: flex;
    background-color: $input-background;
    height: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 2px 3px #c8c8d1;
    > input{
        width: 200px;
        padding-left: 20px;
        border: none;
        background-color: $input-background;
        font-size: 1.3em;
        font-weight: bold;
        height: 45px;
        letter-spacing: -0.5px;
        color: $text-alternative;
    }            
}

.titles{
    padding: 40px;
    background-color: $background;
    text-align: center;
    > h2{
        font-weight: normal;
        margin-bottom: 0;
        padding-bottom: 0;
        color: $text-alternative;
    }
}

.instructions{
    padding: 50px 25px;
    display: flex;
    flex-flow: column wrap;
    .instructions-card{
        display: flex;
        align-items: center;
        margin: auto;
        padding: 30px;
        box-shadow: $shadow-secondary;
        background-color: $background;
        border-radius: 20px;
        margin-bottom: 30px;
        position: relative;
        &__number{
            background: $color-primary;
            color: $color-neutral;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            position: absolute;
            left: -18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__box{
            font-size: 1.2em;
            font-weight: bold;  
            display: flex;
            align-items: center;     
            > i{
                color: $text-alternative;
                @include instruction-card__typo;
            }
        }
        &:hover{
            background: lighten($color-secondary, 22%);
            i{
                color: $color-primary;
            }
            color: $color-primary;
        }
    }  
}

