.location{
    @include flex-full;
    background-color: $input-background;
    height: 60px;
    box-shadow: $shadow-input;
    margin: auto;
    overflow: hidden;
    > input{
        text-align: center;
        border: none;
        background-color: $input-background;
        font-size: 1.3em;
        font-weight: bold;
        height: 45px;
        max-width: 200px;
        letter-spacing: -0.5px;
        color: $text-alternative;
    }            
}

.titles{
    padding: 40px;
    background-color: $background;
    text-align: center;
    > h2{
        font-weight: normal;
        margin-bottom: 0;
        padding-bottom: 0;
        color: $text-alternative;
        word-break: break-word;
    }
}

.instructions{
    padding: 50px 25px;
    @include flex-column;
    overflow: hidden;
    .instructions-card{
        @include flex-basic;
        margin: auto;
        padding: 30px;
        box-shadow: $shadow-secondary;
        background-color: $background;
        border-radius: 20px;
        margin-bottom: 30px;
        position: relative;
        &__number{
            background: $color-primary;
            color: $color-neutral;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            position: absolute;
            left: -18px;
            @include flex-full;
        }
        &__box{
            font-size: 1.2em;
            font-weight: bold;  
            @include flex-basic;  
            word-break: break-word; 
            > i{
                color: $text-alternative;
                @include instruction-card__typo;
            }
        }
        &:hover{
            background: lighten($color-primary, 35%);
            i{
                color: $color-primary;
            }
            color: $color-primary;
        }
    }
    @media all and (min-width: 768px) and (max-width: 991px){
        max-width: 500px;
        margin: auto;
        h2{
            text-align: center;
        }
    }
    @media all and (min-width: 992px){
        @include flex-row;
        h2{
            width: 100%;
            text-align: center;
        }
    }  
}
