#resto-preview{
    padding: 50px 25px;
    background: $background;
    > h2{
        padding-bottom: 0;
    }
    .resto-prev{
        margin-bottom: 30px;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        background-color: $color-neutral;
        box-shadow: $shadow-tertiary;
        &__image{
            height: 180px;
            overflow: hidden;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            } 
            >span{
                display: none;
            }
            &.resto-prev__image--new{
                >span{
                    display: block;
                    width: 100px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    text-align: center;
                    font-weight: bold;
                    padding: 5px;
                    border-radius: 6px; 
                    @include new-shadow;                  
                }
            }
        }
        &__title{
            background-color: $color-neutral;
            padding: 20px;
            > span{
                font-size: 1.2em;
            }
        }  
    }
}

