#resto-preview{
    padding: 50px 25px;
    background: $background;
    > h2{
        padding-bottom: 0;
    }
    .resto-prev{
        margin-bottom: 30px;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        background-color: $color-neutral;
        box-shadow: $shadow-tertiary;
        &__image{
            height: 180px;
            @include image;
            img{
                @include img;
            } 
            >span{
                display: none;
            }
            &.resto-prev__image--new{
                >span{
                    position: absolute;
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    width: 100px;
                    top: 20px;
                    right: 20px;
                    padding: 5px;
                    border-radius: 6px; 
                    @include new-shadow;                  
                }
            }
        }
        &__title{
            background-color: $color-neutral;
            padding: 20px;
            > span{
                font-size: 1.2em;
            }
        }  
    }
    @media all and (min-width: 768px){
        h2{
            text-align: center;
        }
        .resto-prev__image{
            height: 250px;
        }
    }
    @media all and (min-width: 992px){
        @include flex-column;
        h2{
            width: 100%;
        }
        & > div{
            @include flex-row;
            width: 100%;
            .resto-prev{
                width: 45%;
            }
        }
    }
}

